@using MovieStore.Models.Movie
@model List<MovieSearchJsonView>

<table class="table">
    <thead>
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Synopsis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MovieSearchJsonView movie in Model)
        {
            <tr>
                <td style="width: 50%; float: left;">
                    <img src="@movie.Movie.poster_path.Replace("w500","w154")" class="detailImage" />
                </td>
                @if (movie.Movie.original_language != "en")
                {
                    <td><b>@(@Html.ActionLink(movie.Movie.title + " (" + movie.Movie.release_date.Split('-')[0] + ") " + movie.Movie.original_title, "MoviePrint", "Movie", new {movie.Movie.id }, null))</b></td>
                }
                else
                {
                    <td><b>@(@Html.ActionLink(movie.Movie.title + " (" + movie.Movie.release_date.Split('-')[0] + ") ", "MoviePrint", "Movie", new {movie.Movie.id }, null))</b></td>
                }

                <td>@movie.Movie.overview</td>
              
            </tr>
        }
    </tbody>
</table>