
    <form asp-controller="Movie" asp-action="MovieSearch" method="POST">
        <label for="MovieTitle">Search Movie</label>
        <input type="text" id="searchString" placeholder="Search" name="searchString" />
        <input type="submit" />
    </form>