@model MoviesSearchListJson


<h1>Search Results</h1>


@if (Model != null && Model.Results.Count > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Synopsis</th>
                <th>More Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Result in Model.Results)
            {
                <tr>
                    @if (Result.original_language != "en")
                    {
                    <td><b>@(Result.title + " (" + Result.release_date.Split('-')[0]  + ") " + Result.original_title)</b></td>}
                    else
                    { 
                    <td><b>@(Result.title + " (" + Result.release_date.Split('-')[0] + ") " )</b></td> }

                    <td>@Result.overview</td>
                    <td>@Html.ActionLink("Info", "MoviePrint", new { Result.id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
<p><em>No results found.</em></p>
}